# Versão da API do Kubernetes para Deployments
apiVersion: apps/v1 
# Tipo de objeto que vai ser criado: um Deployment
kind: Deployment
# Metadados sobre o Deployment
metadata:
  name: trabalho # Nome deste Deployment
spec:
  replicas: 1 # Quantos Pods (cópias) deste container devem existir
  # O 'selector' diz ao Deployment quais Pods ele deve gerenciar
  selector:
    matchLabels:
      app: trabalho # Ele vai gerenciar Pods com a nome 'app: trabalho'
  # 'template' é a receita de como criar cada Pod
  template:
    metadata:
      # Nome (Label) que será aplicada ao Pod
      labels:
        app: trabalho # O Service vai usar essa nome para encontrar este Pod
    spec:
      # Lista de containers que vão rodar dentro do Pod
      containers:
        - name: trabalho # Nome do container
          image: trabalho:latest # Imagem Docker que será usada
          # 'imagePullPolicy: Never' força o Kubernetes a não baixar a imagem,
          # usando a imagem local que foi criado com o Minikube.
          imagePullPolicy: Never 
          # Lista de portas que este container expõe
          ports:
          - containerPort: 3123 # A porta 3123 a mesma do server.js