# Versão da API do Kubernetes para Deployments
apiVersion: apps/v1 
# Tipo de objeto que vai ser criado: um Deployment
kind: Deployment
# Metadados sobre o Deployment
metadata:
  name: trabalho # Nome deste Deployment 
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: trabalho
  template:
    metadata:
      labels:
        app: trabalho
    spec:
      containers:
        - name: trabalho # Nome do container 
          
          image: apolinarioo/Kubernets_trabalho:latest 
          
          # Trocado de 'Never' para 'IfNotPresent' ou 'Always' 
          # Isso força o K8s a baixar a imagem do Docker Hub.
          imagePullPolicy: IfNotPresent
          
          ports:
          - containerPort: 3123 # Porta exposta pelo container