apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: NodePort # Expõe o Grafana para acessar
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    app: grafana # Redireciona tráfego para os Pods 'grafana'